/* primary color rgb(234, 54, 128) */
/* secondary color bootstrap .bg-body-secondary-gradient */

.navbar-nav a.active {
  font-weight: 600;
  color: #000; 
  border-top: solid currentColor 2px;
}

.company-name {
    font-family: Gabriola, sans-serif !important;
    font-size: 2rem !important;
}

#home, #products, #about, #contact {
  scroll-margin-top: 90px; 
}

.text-shadow-p {
    text-shadow: 2px 2px 3px lavender;
}

#home img {
    opacity: 0;
    animation: fadeUp 1.5s ease-in forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
    }
}

.hero-button {
    color: rgb(234, 54, 128) !important;
    background-color: white;
    border: solid rgb(234, 54, 128) 2px !important;
    border-radius: 7px;
    font-weight: 600;
    padding: 4px 20px;
}

.hero-button:hover, .hero-button:active, .hero-button:focus {
  color: white !important;
  background-color: rgb(234, 54, 128) !important;
  border: solid rgb(234, 54, 128) 2px !important;
  transition: border 0.5s ease, background-color 0.5s ease;
}

.stat-card {
    background-color: rgb(234, 54, 128);
    border-radius: 8px;
}

.text-card {
    border-right: 2px solid white;
    border-left: 2px solid white;
    color: white;
    text-align: center;
    padding-top: 10px;
}

.product-card {
    border: 1px solid gray;
    border-radius: 10px;
}

/* .product-card:hover {
    border: 2px solid rgb(234, 54, 128);
} */

.product-card h3 {
    padding: 15px 15px 0 15px;
}

.product-card p {
    padding: 0px 15px 0 15px;
}

.product-card img {
    padding: 10px;
    overflow: hidden;
}

#contact img {
    height: 22px;
    width: auto;
}

#contact a {
    font-weight: 300;
    text-decoration: underline;
    text-decoration-thickness: 1px;
}

#contact a:hover {
    color: rgb(234, 54, 128);
    font-weight: 400;
}

.company-name img {
    height: 30px;
    width: auto;
}

footer hr {
    margin-top: 0 !important;
}

.developer-signature img {
    width: 14px;
    height: 14px;
}

.developer-signature a {
    text-decoration: none;
}
